.CardContainer {
    width: 100%;
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-flex;
    justify-content: center;
}

.CardDescription {
    font-size: 20pt;
}